
/*존재하지 않은 데이터에 대한 폰트*/

@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


*{
    box-sizing: border-box;
    list-style : none; /* 리스트 스타일 X */
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans','GmarketSansMedium' ;
    /* font-family: 'KBO-Dia-Gothic_bold'; */
}

a, button{
    cursor: pointer;
    /* color : white; */
}


html {
    scroll-behavior: smooth;
}

main{

    display: flex;
    flex-wrap: inline-block;

    background-color: #101322;

    color: white;
    
}



/*----------------------------------------------------------------------------*/

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	flex: 1;
    flex-basis: 17%;
    height: 840px;
    border-radius: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,34,155,1) 24%, rgba(0,212,255,1) 100%);
    
    font-size: 20px;
    font-weight: bold;
    color: white;

    position:sticky;
    top : 78px;
}


aside > a{
    margin-bottom: 40px;
    font-size: 25px;
    color: white;
}

/*----------------------------------------------------------------------------*/

.mypage-content{
	flex: 3;
    flex-basis: 83%;
    border: 5px solid red;
    
  }

.mypage{

    /* nav바에 맞게 높이 조절! */
    height: 840px;

    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;

    border: 1px solid aqua ;
}

.mypage-info{

    height: 1000px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
/* 
    border: 1px solid aqua ; */
}

/* 중복되면 mypage-favorite 지우기!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* ==========================================================================================================*/
										/*마이페이지 => 즐겨찾기 */

.mypage-favorite{
    height: 820px;

    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
}


/* 마이페이지-즐겨찾기 */
.mypage-title{
    flex-basis: 40%;
    height: 200px;

    font-size: 50px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.favorite-setting{    
    flex-basis:3%;
    /* width: 360px; */
    /* height: 60px; */
    /* background-color: rebeccapurple; */
    /* align-self: flex-start; */
    
    display: flex;
    justify-content: space-around;
}


.favorite-setting > a:not(:nth-of-type(3)) {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    margin : 0px 30px;

    font-size: 28px;
    font-weight: bold;
    padding: 10px 20px;
}

/* 영화관 버튼 (비활성화일 때)  */
.cinema-favorite-btn {
    background-color: white;
    opacity: 0.5;
    color : white;
}


/* style 바꾸기 */
.edit-favorite-btn{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    margin-left:  550px;

    font-size: 28px;
    font-weight: bold;
    padding: 10px 20px;
    
    cursor: pointer;
}

/*==============================================================================================*/

.favorite-not-content{
    width:1300px;
    height:400px;
	
	display : flex;
    justify-content: center;
    align-items: center;
    
    font-size : 40px;
	font-family : "KBO-Dia-Gothic_bold";
}

/*.favorite-list, */.swiper{
    /* flex-basis: 57%; */

    width:1300px;
    height:300px;


    /* display: flex;
    justify-content: center;
    align-items: center; */

    /* border: 2px solid yellow; */
}
/* 
.swiper{
    width:1200px;
    height:350px;
} */

.swiper-container{
    flex-basis: 95%;

    display: flex;
}


    /* display: flex;  */

.swiper-slide{
    flex-basis:25%;
    /* width:300px; */
    padding:20px;

    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
}



.favorite-list-wrapper {
    /* flex-basis: 80%; */

    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    margin : 0px 20px;
    /* margin-bottom: 200px; */
}

.favorite-list-cinema-wrapper{
    /* flex-basis: 80%; */
    width: 315px;
    height: 250px;
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid white;
    margin : 0px 10px;
    /* margin-bottom: 200px; */

    display: flex;
    justify-content: center;
    align-items: center;   
}


.favorite-list-wrapper > img {
    width: 100%;
}

.favorite-list-cinema-wrapper > img {
    height: 100%;
    width: 100%;
}

.next-btn-container{
    flex-basis: 5%;
}

.next-btn{
    width: 30px;
    height: 20px;

    width: 0;
    height: 0;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-left: 40px solid skyblue;
    border-right: 40px solid transparent;

    background-color: transparent;
} */

/* -----  swiper 다른 방법 ---- */

.favorite-list{
    flex-basis: 57%;
    /* border: 2px solid yellow; */


     /*display: flex;*/

}

.ftMain{
    width: 1200px;
    height: 350px;
    border: 1px solid white;
}


.ftmain {
    position: relative;
    overflow: hidden;
    height: 90%;
    padding: 2%;
    width: 100%;

    display: flex;
    justify-content: center;
    border: 2px solid red;
}

.ftmain::-webkit-scrollbar-thumb {
    background-color: gray; /* 원하는 색상으로 변경 */
}

.gallery > div {
    margin-right: 4%; /* 이미지 간격 설정 */
}

.gallery-container {
    display: flex;
    overflow: hidden;
    height: 100%;
    padding: 0;
    width: 100%;
}

.gallery {
    display: flex;
    height: 100%;
    padding: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    border: 2px solid saddlebrown;

    align-items: center;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 50px;
  cursor: pointer;
  color: skyblue;
  border-radius: 50%;
  border: 2px solid red;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}


/* 마이페이지-방문기록 및 내가 작성한 댓글 */
.visit-history-container,
.comment-list-container{
    flex-basis: 10%;
    width: 1100px;
    color: black;
    background-color: white;

    font-size: 30px;
    font-weight: bold;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


/* .visit-history-title,
.comment-list-title{
    font-size: 30px;
    flex-basis: 10%;
    width: 1100px;

    color: black;
    background-color: white;

    font-size: 30px;
    font-weight: bold;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

#mypage-visit-history,
#mypage-comment-list,
#mypage-modify-member-info{
    padding: 20px;

}

.visit-history-content-container,
.modify-member-info-container{
    flex-basis: 90%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    /* overflow: auto; */
}

.visit-history-content{
    /* flex-basis: 100%; */

    width: 1100px;
    height: 600px;
    border-radius: 50px;
    background: linear-gradient(180deg, #040514 0%, #7A80FF 74.03%);

    /* 목록 정렬! */
    display: flex;


    overflow: scroll;
    overflow-x: hidden;
}

.visit-history-content::-webkit-scrollbar{
    width: 15px;
}

.visit-history-content::-webkit-scrollbar{
    background: #101322;
}

.visit-history-content::-webkit-scrollbar-thumb{
    height: 15%;
    background-color:#070583;
    border-radius: 10px;
}

.visit-history-list{
    flex-basis: 25%;
    /* border: 2px solid whitesmoke; */

    padding : 0px 50px;
    display: flex;
    align-items: center;

}

.history-img-container{
    background-color: red;
    /* margin: 5px 0px; */
    border-radius: 50px;
    flex-basis: 25%;

    width: 140px;
    height: 130px;

    overflow: hidden;

    display: flex;
    align-items: center;
}

.history-img-container > img{
    width: 100%;
    /* height: 100%; */
}

.history-content-container{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.history-content-container *:nth-child(1){
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.history-content-container *:nth-child(2){
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.history-del-btn{
    flex-basis: 5%;
    height: 40px;
    border-radius: 10px;
    font-size: 10px;
    background-color: #a3cef1;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.history-del-btn > div{
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: black;

}

.history-del-btn:hover{
	background-color: #ff4d6d;
    font-weight: bold;
	opacity: 0.9;
}
.history-del-btn>div:hover{
	   	color :white;
}

/* ======================================================================= */

/* 마이페이지-내가 작성한 댓글 */

.comment-list-content-container{
    flex-basis: 80%;

    /* padding: 20px; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 2px solid yellow; */

    overflow: auto;
    overflow-x: hidden;
}


.comment-list-content-container::-webkit-scrollbar{
    width: 15px;
}

.comment-list-content-container::-webkit-scrollbar{
    background: #101322;
}

.comment-list-content-container::-webkit-scrollbar-thumb{
    height: 15%;
    background-color:#070583;
    border-radius: 10px;
}


.comment-list-del-container > table{
    flex-basis: 5%;
    width: 1020px;

    overflow: auto;
    overflow-x: hidden;
    
}


/* 댓글 조회 할 큰 틀 */
.comment-list-content-col{
    flex-basis: 95%;

    width: 1100px;
    border-radius: 50px;
    /* border : 2px solid white; */
    /* border : 2px solid red; */

    /* 목록 정렬! */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.comment-list-btn-container{
    flex-basis: 5%;
    width: 100%;
    /* border : 2px solid yellow; */

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    /* margin-top: 20px; */
    /* ?????????????? */
}

.comment-list{
    flex-basis: 10%;
    /* border : 2px solid rebeccapurple; */

    padding : 0px 50px;
    display: flex;
    align-items: center;
}

.comment-del-btn,
.comment-list-all-btn{
    flex-basis: 5%;
    height: 40px;
    border-radius: 10px;
    font-size: 10px;
    background-color: rgb(230, 230, 230);
    color: black;
    font-weight: bold;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.comment-replace-btn,
.comment-list-all-del-btn{
    flex-basis: 10%;
    height: 40px;
    border-radius: 10px;
    font-size: 10px;
    background-color: wheat;
    color: black;
    font-weight: bold;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-content-container,
.comment-list-btn-container > p{
    flex-basis: 85%;

    display: flex;
    justify-content: space-between;

    padding: 0px 40px;
    align-items: center;
}




.comment-list-table{

    width: 1000px;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.comment-list-col{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.comment-list-check{
    flex-basis: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-list-content{
    flex-basis: 50%;
}

.comment-list-date{
    flex-basis: 30%;

    display: flex;
    justify-content: center;
}

.comment-list-edit{
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-list-edit > button{
    width: 60px;
    height: 30px;
}

.comment-list-del-btn{
    width: 200px;
    height: 35px;
    margin-left: 60px;

    background-color: white;
    border: none;
    border-radius: 20px;
    
    color : black;
    font-weight : bold;

}

.comment-list-del-btn:hover{
   	background-color: #ff4d6d;
   	color :white;
    font-weight: bold;
    	
	opacity: 0.9;
}

/*-----------------------------------------------------------------------------------*/


/* 마이페이지-회원정보 수정 */

.modify-member-info-title{
    flex-basis: 10%;
    width: 1100px;

    font-size: 50px;
    font-weight: bold;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}





.modify-member-info-content{
    flex-basis: 100%;
    width: 1159px;
    /* height: 1500px; */
    border-radius: 50px;
    background: linear-gradient(180deg, #000 0%, rgba(158, 185, 255, 0.68) 45.83%, rgba(255, 255, 255, 0.00) 99.99%, rgba(255, 255, 255, 0.00) 100%);
    /* 목록 정렬! */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}



/* 프로필 */
.member-info-profile-container{
    flex-basis: 35%;

    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.member-profile-wrapper{
    width: 270px;
    height: 270px;
    border: 3px solid #FFF;
    border-radius: 50%;

    overflow: hidden;

    display: flex;
    align-items: center;
    margin-bottom: 10px;
} 

.member-profile-wrapper>img{
    width: 100%;
}


.member-profile-modify-btn{
    background-color: #DCEFF3;;
    border-radius: 10px;
    width: 400px;
    height: 40px;

    color: #8B8B8B;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    cursor: pointer; 
    
    transition: background-color 0.3s ease, color 0.3s ease;

}

.fa-camera-retro{
    margin-right: 4px;
}


input[type="file"] {
    display: none;  
    cursor: pointer;
}


.member-profile-modify-btn:hover{
    background-color: #7A80FF;
    color: white;
}



/*변경 내용*/
.member-info-container{
    flex-basis: 50%;

    display: flex;
    flex-direction: column;

}

.modify-content-container{
    flex-basis: 23%;
    display: flex;
    justify-content: center;
}

.modify-title{
    flex-basis: 30%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: bold;
}

.modify-content{
    flex-basis: 50%;

    display: flex;
    align-items: center;
}

.modify-content-input{
    flex-basis: 100%;

    font-size: 30px;
    width: 526px;
    height: 50px;   
    background: #D9D9D9;
    border-radius: 10px;

    display: flex;
    justify-content: start;
    align-items: center;

    padding: 5px;
    
}

.modify-content-input >i{
    flex-basis: 15%;
    color: black;
    font-size:30px;
    text-align: center;
}

.modify-content-input >input{
    flex-basis: 50%;
    color: #8B8B8B;
    font-size: 30px;
    font-weight: bold;
    border: none;
    outline : none;
    background-color: transparent;
    padding: 15px;

    font-size: 25px;
}

.validation-content{
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    font-weight: bold;
}

.modify-content-btn{
    flex-basis: 50%;

    display: flex;
}

.modify-gender{
    flex-basis: 50%;

    width: 148px;
    height: 51px;

    border-radius: 20px;
    background: #F1F1F1;
    color: black;
    font-size: 30px;

    margin : 0px 30px 0px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;

    cursor: pointer;

    transition: background-color 0.3s ease, color 0.3s ease;

}

.modify-gender:hover{
    background-color: rgb(3, 198, 233);
    color: white;

}



/* 변경 내용 */

.member-info-option-container{
    flex-basis: 5%;

    display: flex;

    justify-content: center;
    align-items: center;

    /* border: 2px solid rebeccapurple; */
    
	transition: background-color 0.3s ease, color 0.3s ease;
}

.member-info-option-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 50px 0px 0px;

    width: 350px;
    height: 50px;

    border-radius: 5px;

    background: rgba(255, 255, 255, 0.50);
    font-size: 30px;
    font-weight: bold;
}

.member-info-option-btn:hover{
	 opacity: 0.85;
}



.red{
    background-color: red;
}
footer{
    height: 300px;
}
footer>img{
    height: 100%;
    width: 100%;
}



/* =============================== */
/* 체크박스 디자인 */

/* 기존 체크박스 해제 */
/* input[type="checkbox"] {display: none;} */

/* 체크박스 labe 값 이용 */
/* input[type="checkbox"] + label {
    display: inline-block; width:17px; height: 17px; background: #fa3062;
    cursor: pointer; 
    border-radius: 3px;
    float: right;} */

/* #check + label{
    cursor:pointer;
} */

/* 클릭하기 전 */
/* #check+ label:before{
    content:"";
    display:inline-block;
    width:17px;
    height:17px;
    border:2px solid #F47C7C;
    border-radius: 4px;
    vertical-align:middle;
} */

#check:checked + label:before{
    content:"";
    background-color:#F47C7C;
    border-color:#F47C7C;
    /* background:url(https://icon-icons.com/icons2/930/PNG/48/check_icon-icons.com_72363.png); */
    /* background-repeat: no-repeat;
    background-position: 50%; */
}

/* input이 체크된 상태이면, 가상체크박스의 스타일을 변경하기 */
/* input:checked + label::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: blue;
} */

/* 모달 스타일 */
.modal {
    display: none;
    position: fixed; /* 고정 위치 */
    top: 50%; /* 화면 상단에서 중앙으로 이동 */
    left: 50%; /* 화면 왼쪽에서 중앙으로 이동 */
    transform: translate(-50%, -50%); /* 가운데로 이동 */
    z-index: 1;
    /* width: 80%; 모달의 너비 */
    max-width: 1200px; /* 최대 너비 설정 */
    height: 400px;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #888;
}

/* 모달 내부 스타일 */
.modal-content {
    margin: 0;
    padding: 0;
}

/* 닫기 버튼 스타일 */
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #333;
    font-size: 20px;
    cursor: pointer;
}


.modify-gender > label >input{
    display: none;
}








