*{
    box-sizing: border-box;
    list-style : none; /* 리스트 스타일 X */
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans','GmarketSansMedium' ;
    /* font-family: 'KBO-Dia-Gothic_bold'; */
}

a, button{
    cursor: pointer;
    color : white; 
}


nav{
    height: 88px;

    display: flex;

    /* 위에 고정 */
    position:sticky;
    top: 0;

    background-color: #101322;
    color: white;
    /* 요소 우선순위 주기 ( 앞으로 올리기 )  */
    z-index: 3;
}

.logo{
    padding-top: 10px;
}

nav section:not(:nth-child(2)){
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 로고 폰트 사이즈  ① 로고 사이즈 변경 및 이미지면 이미지 사이즈 변경  */
    font-size: 40px;
    font-weight: bold;
}

/* nav- 검색창 */
nav section:nth-child(2){
    flex-basis: 60%;

    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .movie-search-area > form{
    padding-top: px;
} */

.movie-search-area fieldset{
    width: 900px;
    border: 2px solid black;

    height: 40px; /*원래 45px*/
    /*border-radius: 5px; */
    margin: 0;
    margin-bottom: 5px;
    padding: 2px;
    display: flex;
}

#query{
    flex-basis: 92%;
    /* padding: 5px; */
    padding: 7px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px 0px 0px 5px  ;
    outline: none;  
    background-color: white;
}

#search-btn{
    flex-basis: 8%;
    /* line-height: 30px; */
    line-height: 35px;
    font-size: 1.1em;
    border-radius: 0px 5px 5px 0px   ;
    border: none;
    background-color: white; /* transparent : 투명 */
    color: black;
}




.main-sort > a{
    margin : 0px 50px;

    font-size: 12px;
}

.main-sort > a:nth-of-type(1):hover{
    font-size: 14px;
    font-weight: bold;
    color: rgb(253, 182, 206);
    transition-duration : 0.3s;
}


.main-sort > a:nth-of-type(2):hover{
    font-size: 14px;
    font-weight: bold;
    color: rgb(160, 212, 80);
    transition-duration : 0.3s;
}


.main-sort > a:nth-of-type(3):hover{
    font-size: 14px;
    font-weight: bold;
    color:rgb(165, 230, 255);
    transition-duration : 0.3s;
}

/* nav - 유저 버튼 */
/* .user-login{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
} */

.user-login,
.user-logout {
    width: 170px;
    height: 55px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

    background-color: white;
    color:black;
    font-size: 26px;
}

 .user-login:hover {
   border: 4px solid transparent;
   border-radius: 50px;
   border-image: conic-gradient(#f06, #0cf, #f06);
   border-image-slice: 1;
   transition: border 0.2s ease;
 }

.user-login > span,
.user-logout > span{
    flex-basis: 60%;
    padding-left: 10px;
}


.user-mypage{
    flex-basis: 50%;
    padding-left: 50px;
    font-size: 30px;

}

.mypage-wrapper{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: white;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}