*{
    box-sizing: border-box;
    list-style : none; /* 리스트 스타일 X */
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans','GmarketSansMedium' ;
}

a, button{
    cursor: pointer;
    /* color : white; */
}

html {
    scroll-behavior: smooth;
  }


main{
  	display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: #101322;
    min-height: 1000px;

    color: white;
}



.search-title-container{
    flex-basis: 100%;

    padding: 20px;

    font-size: 30px;
    font-weight: bold;
    
}


.cinema-search-list-container{

    flex-basis: 100%;

    width: 1600px;
    height: 300px;

    background-color: #383B3E ;
    margin: 0px 0px  50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cinema-search-img-wapper{

    width: 400px;
    height: 250px;

    background-color: yellow;


    display: flex;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.cinema-search-img-wapper>img{
    /*flex-basis: 100%;*/
    width:100%;
    /* height: 100%; */
}


/* .poster{
    width: 200px;
    height: 240px;
    background-color: rebeccapurple ;
} */

.cinema-search-content-container{
    flex-basis: 72%;
    height: 100%;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.cinema-search-content{
    flex-basis: 50%;


    padding: 5px 10px; 

    display: flex;
    flex-direction: column;
}

.cinema-search-content>h1{
    flex-basis: 5%;
    font-size: 20px;
    padding: 5px 0px;
}

.cinema-search-content>div{
    flex-basis: 95%;
    background-color: #D9D9D9;
    color: black;
    border-radius: 10px;

    padding: 5px;
    
    display: flex;
    align-items: center;
}