
body {background-color: #000;  box-sizing: border-box;}



        
        /* 지도 영역 */
        .map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:10px;}  
        .map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
       /* .map_wrap {position:absolute; width:70%; height: 60%; top: 50%; left: 25%; z-index: 1;} */
       
       .map_wrap {flex-basis:100%; height:100%;}
       
        /* 지도 검색창 영역 */
        #menu_wrap {position:absolute;  width:200px; height: 90%; margin:10px 0 20px 10px; padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7); z-index:1 ;font-size:10px;border-radius: 10px;}
        .bg_white {background:#fff;}
        #menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
        #menu_wrap .option{text-align: center;}
        #menu_wrap .option p {margin:10px 0;}  
        #menu_wrap .option button {margin-left:5px;}
        /* 지도 내부 검색목록 영역 */
        #placesList li {list-style: none;}
        #placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
        #placesList .item span {display: block;margin-top:4px;}
        #placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
        #placesList .item .info{padding:10px 0 10px 55px;}
        #placesList .info .gray {color:#8a8a8a;}
        #placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
        #placesList .info .tel {color:#009900;}
        #placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px; margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
        #placesList .item .marker_1 {background-position: 0 -10px;}
        #placesList .item .marker_2 {background-position: 0 -56px;}
        #placesList .item .marker_3 {background-position: 0 -102px}
        #placesList .item .marker_4 {background-position: 0 -148px;}
        #placesList .item .marker_5 {background-position: 0 -194px;}
        #placesList .item .marker_6 {background-position: 0 -240px;}
        #placesList .item .marker_7 {background-position: 0 -286px;}
        #placesList .item .marker_8 {background-position: 0 -332px;}
        #placesList .item .marker_9 {background-position: 0 -378px;}
        #placesList .item .marker_10 {background-position: 0 -423px;}
        #placesList .item .marker_11 {background-position: 0 -470px;}
        #placesList .item .marker_12 {background-position: 0 -516px;}
        #placesList .item .marker_13 {background-position: 0 -562px;}
        #placesList .item .marker_14 {background-position: 0 -608px;}
        #placesList .item .marker_15 {background-position: 0 -654px;}
        #pagination {margin:10px auto;text-align: center;}
        #pagination a {display:inline-block;margin-right:10px;}
        #pagination .on {font-weight: bold; cursor: default;color:#777;}
        /* ====================지도 끝====================== */
        
        /* 영화이동 링크 */
        .movie_link { width: 23%; height: 50%;  border-radius: 10px;  position: fixed;  
                      background: url(/resources/images/cinema/44014266-영화-슬레이트.jpg), lightgray 50% / cover no-repeat;
                      background-size: cover;  background-position: center; margin-left: 1%;  margin-top:3%}
        
        /* 맨 위 영화관 리스트 */
        .cinema_list_container { width: 90%; height: 200px;  display: flex; justify-content: center; 
                                  align-items: center;  margin-top: 30px;}

        
        /* 영화관 목록 */
       
        .cinema_list {

            left: 5%;
            width: 100%;
            padding: 0;
            margin: 0;
            
            
            
            
        }
    
        .cinema_item {

            max-width: 300px !important;
            height: 200px;
            border-radius: 30px;
            overflow: hidden;
            background-color:#CDD2FF;
            text-align: center;
            
        }


        .cinema_item > a {
            
            font-family: Inter; font-size: 17px; 
            font-weight: 400;  
            line-height: 170px; text-decoration: none; color: #000;
        }

        .cinema_item:hover {  background-color: #7bdff5; }


        #sortButton > button {
        	color:black;
        }
    	
         
         #sortButton > button:hover {
        	 background-color: #7bdff5;
        }
    	
    	 

        /* 영화관,이벤트 홍보 부분 */
        /* 영화관,이벤트 홍보 컨테이너 */
        .cinema_promotion{   width: 70%; height: 400px;  
                           background-color: #383B3E; margin-left: 25%; display: flex; 
                           border-radius: 15px; justify-content:center; margin-top: 70px;
        }    


                           
        #cinema_promotion {   width: 70%; height: 400px;  
            background-color: #383B3E; margin-left: 25%; display: flex; 
            border-radius: 15px; justify-content:center; margin-top: 50px;   
            
        }


        /* 특별관 설명부분 */
        .cinema_special{  flex-basis: 45%;    margin: 30px 20px 20px 20px;  color:white;  text-decoration: none;}    
        /*특별관 홍보 이미지 */
        #cinema_special{
            background: url(/resources/images/cinema/특별관.jpg);  background-size: cover;   background-position: center;
        }
        
        /* 이벤트 홍보 내부 컨테이너 */
        .event_promotion{ flex-basis: 90%; border-radius: 15px; margin: 50px 0 50px 0; display: flex;
                          background: #D9D9D9; align-items: center; justify-content: space-around;}
        /* 시사회 이미지 */
        .preview_img{background: url(/resources/images/cinema/시사회img.jpg); background-size: cover; 
                     background-position: center; flex-basis: 20%; height: 230px; border-radius: 15px;}

        /* 시사회,할인행사 정보        */
        .preview_text{flex-basis: 25%; height: 230px; font-weight: bold; line-height: 130%; text-decoration: none; color: #000;}
        
        /* 할인행사 이미지 */
        .discount_img{background: url(/resources/images/cinema/cgv용산.jfif); background-size: cover; 
                      background-position: center; flex-basis: 20%; height: 230px; border-radius: 15px;}

        
    
          
    